<div id='navbar'>
    <div id='nav-container'>
        <div id='home'>
            <a href='/' class='menu-item'>co-lab</a>
        </div>
        <div id='menu'>
            <a href="/projects" class='menu-item'>projects</a>
            <a href="/project-create" class='menu-item'>post a lab</a>
            <a href='/users' class='menu-item'>users</a>
            <a href='/auth/profile' class='menu-item'>my profile</a>
        </div>
    </div>
</div>