<nav>
    <ul>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/project-create">Create a project</a></li>
        <li><a href='/users'>Users</a></li>
        <li><a href='/auth/profile'>Profile</a></li>
    </ul>
</nav>