<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/signup">Sign up</a>
<a href="/login">Log in</a>

<div class='colab-main'>
    <h2 class='sentence'>co-
        <div class='slidingVertical'>
            <span>lab</span>
            <span>create</span>
            <span>work</span>
            <span>build</span>
            <span>invent</span>
        </div>
    </h2>
</div>