{{> nav}}
<div id='main-div'>

    <h4 class='sentence'>co-
        <div class='slidingVertical'>
            <span>lab</span>
            <span>create</span>
            <span>work</span>
            <span>build</span>
            <span>invent</span>
        </div>
    </h4>

    <div class='login-basic'>
        <a href="/signup">Sign up</a>
        <a href="/login">Log in</a>
    </div>
</div>