{{> nav}}
<div class="space"></div>
<div class='practice-container'>

    <form class='login-container'>
        <h1>welcome</h1>
        <div class='input-field'>
            <label for="firstName" class="first-name">first name</label>
            <input id="firstName" type="text">
        </div>
        <div class='input-field'>
            <label for="lastName" class="last-name">last name</label>
            <input id="lastName" type="text">
        </div>
        <button type="submit">log in</button>
        <!-- more inputs -->
    </form>

</div>