{{> nav}}
<div class="space"></div>
<div class='form-div'>

    <form action="/project-create" method="POST">
        <h1>Tell us a little bit more about your project.</h1>
        <span>Name your project</span><input type="text" name='projectName' placeholder="name your project"
            autocomplete="off" required>
        <label><span>Deadline:</span><input type="date" name="deadline" id="deadline"></label>
        <span></span><textarea type="text" name="description" placeholder="describe your project" class='description'
            required></textarea>
        <input type="text" name="skills" placeholder="Required skills">
        <button type="submit" class="my-button">post the lab</button>
    </form>
</div>