<form action="/project-create" method="POST">
    <input type="text" name='projectName' placeholder="Name your project" autocomplete="off">
    <textarea type="text" name="desciption" placeholder="Describe your project"></textarea>
    <input type="date" name="deadline" id="deadline">
    <button type="submit">Post the lab</button>
</form>