<form class="singup-form">
    <input class="username" type="text" name='username' placeholder="username" autocomplete="off">
    <input class="email" type='email' name='email' placeholder="email" autocomplete="off">
    <input class="password" type='password' name='password' placeholder="password" autocomplete="off">
    <input class="firstName" type="text" name='firstName' placeholder="First Name">
    <input class="lastName" type="text" name='lastName' placeholder="Last Name">
    <select class="role" name="role" id="role">
        <option>UX/UI Designer</option>
        <option>Web Developer</option>
        <option>Unicorn</option>
    </select>
    <input class="dateOfBirth" type="date" name="dateOfBirth" id="dateOfBirth">

    <button type="submit" class='fade-btn'>Sign up</button>
</form>