body {
  font: 14px "Gill sans", Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

#main-div {
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1484992379169-f4ffcae454ec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1774&q=80")
    center no-repeat;
  background-size: cover;
  padding-top: 30px;
}

#main-div {
  height: 100vh;
}

.login-basic {
  text-align: center;
  /* display: flex; */
}

a:link {
  text-decoration: inherit;
  color: inherit;
}

a:visited {
  text-decoration: inherit;
  color: inherit;
}

#colab-container {
  position: relative;
  left: -30%;
}

.colab-main {
  text-align: center;
  font-size: 20em;
  color: black;
  cursor: default;
}

.sentence {
  text-align: center;
  font-size: 15em;
  font-family: "Cocogoose Classic", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  cursor: default;
  position: relative;
  left: -10%;
  margin-top: 2%;
}

.hidden {
  display: none;
}

.space {
  padding: 30px 0px;
}

/* START NAVBAR */
#navbar {
  background-color: transparent;
  color: black;
  position: fixed;
  left: 0;
  right: 0;
}

#nav-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

#home {
  margin-left: 10px;
}

#menu {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  height: 100%;
}

#home,
#menu a {
  padding: 10px 20px;
  position: relative;
}

#home a {
  font-family: "Cocogoose Classic", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2em;
}

#menu a {
  font-weight: 300;
  font-size: 1.5em;
}

#home > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#home > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#menu > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#menu > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* END NAV */

/* PROJECTS */

.rows-container {
  padding: 0 20vw;
}

.project {
  margin: 5% 0;
  border: 1px solid #cfcfcf;
  padding: 10px;
}

.project h1 {
  font-family: "Cocogoose Classic", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  font-size: 1.5em;
}

.project p {
  margin-bottom: 5%;
  margin-top: 2%;
}

.created-by {
  padding-top: 1%;
}

.project-container {
  padding: 0 20%;
}

.my-button {
  margin-top: 1%;
  background-color: #cfcfcf;
}

.description-project {
  resize: none;
  width: 400px;
  height: 120px;
}

/* START ANIMATION OF CO-LAB */

/*Vertical Sliding*/
.slidingVertical {
  display: inline;
  text-indent: 8px;
}

.slidingVertical span {
  /* animation: topToBottom 12.5s linear infinite 0s;
  -ms-animation: topToBottom 12.5s linear infinite 0s;
  -webkit-animation: topToBottom 12.5s linear infinite 0s; */
  animation: rotateWord 15s linear infinite 0s;
  -ms-animation: rotateWord 15s linear infinite 0s;
  -webkit-animation: rotateWord 15s linear infinite 0s;
  color: black;
  opacity: 0;
  overflow: hidden;
  position: absolute;
}

.slidingVertical span:nth-child(2) {
  animation-delay: 3s;
  -ms-animation-delay: 3s;
  -webkit-animation-delay: 3s;
}

.slidingVertical span:nth-child(3) {
  animation-delay: 6s;
  -ms-animation-delay: 6s;
  -webkit-animation-delay: 6s;
}

.slidingVertical span:nth-child(4) {
  animation-delay: 9s;
  -ms-animation-delay: 9s;
  -webkit-animation-delay: 9s;
}

.slidingVertical span:nth-child(5) {
  animation-delay: 12s;
  -ms-animation-delay: 12s;
  -webkit-animation-delay: 12s;
}

/*topToBottom Animation*/

@keyframes rotateWord {
  0% {
    opacity: 0;
  }

  2% {
    opacity: 0;
    transform: translateY(-30px);
  }

  5% {
    opacity: 1;
    transform: translateY(0px);
  }

  17% {
    opacity: 1;
    transform: translateY(0px);
  }

  20% {
    opacity: 0;
    transform: translateY(30px);
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes topToBottom {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
  }

  10% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }

  25% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }

  30% {
    opacity: 0;
    -webkit-transform: translateY(50px);
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

/* END ANIMATION OF CO-LAB */

/* START SIGNUP/LOGIN FORM */

/* START SELECT dropdown */
.role {
  /* margin: 0 auto; */
  -webkit-appearance: none;
  background-color: white;
  padding: 3% 3%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: unset;
}

/* END SELECT dropdown */
input,
button {
  border: none;
  outline: none;
  background: none;
  font-family: "Gill sans", Helvetica, Arial, sans-serif;
}

/*# sourceMappingURL=style.css.map */

/* LOGIN */
.form-div {
  display: flex;
  justify-content: center;
}

.form-div input {
  padding: 10px 20px;
  margin: 1%;
}

.practice-container {
  height: 100%;
  background-color: rgb(150, 150, 150);
  box-shadow: black 3px 0 rgba(0, 0, 0, 0.8);
}

.login-container {
  width: 600px;
  height: 500px;
  border-radius: 16px;
  background-color: #fff;
  margin: 10px auto;
  padding: 10px 20px;
}

input {
  background-color: #f2f2f2;
  border-radius: 16px;
}

.login-container h1 {
  text-align: center;
}

/* input[type='text'],
input[type='email'],
input[type='password'],
input[type='textarea'],
textarea,
select {
  border: nonw;
  height: auto;
  margin: 0;
  padding: 10px;
  width: 100%;
  box-shadow: black 3px 0 rgba(0, 0, 0, 0.8);
} */
